.card{
    padding: 0px;
}
.card-body{
    padding: 10px;
}



#PaymentMethodsCardBody{
    height: 100%;
    width: 100%;
    align-self: center;
}
#PaymentMethodsCard{
    align-self: right;
    height: 400px;
    width: 300px;
    align-items: center;
}

#OrdersByPriceCard{
    height: 420px;
    width: 650px;
    align-items: center;
}
#OrdersByPriceCardBody{
    height: 100%;
    width: 100%;
    align-self: center;
}
#OrdersByPriceChart{
    height: auto !important;
    width: auto !important;
}

.card{
    margin: 20px;
    align-items: stretch !important;
}
.card-body{
    align-items: stretch !important;
}



td, th{
    width: auto !important;

    white-space:nowrap;
}
table{
    width: 40%;
}
#OrdersByDateChart{
    height: auto !important;
    width: auto !important;
}