 .card{
    padding: 0px;
    margin-bottom: 15px;

}

canvas{
    position:  inherit;
}

.btn{
    margin: 10px;
} 


.clickable-row:hover{
    background-color: lightblue;
    cursor: pointer;
}
.clickable-row:hover *{
    padding: 15px;
}

