
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    align-items: center;
  }
  footer .d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top{
    align-items: center;
  }

  /* .navbar{
    background-color: darkorchid;
  } */
  .navbar{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .navbar a[type="button"]{
    margin-left:10px;
  }
  .navbar h3{
    align-self: center;
    color: white;
  }
  