html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
} 
#main-container{
    padding-left: 0px;
    padding-right: 0px
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
  /* .navbar{
    background-color: darkorchid;
  } */
  .navbar{
    position: sticky;
    top: 0;
    width: 100% !important;
    height:auto;
    text-align: right;
    margin-top: 0px;
    
  }

  

  .navbar a[type="button"]{
    margin-left:10px;
  }
  .navbar h3{
    align-self: center;
    color: white;
  }

  .navbar-brand{
    margin-right: 10px !important;
  }
  h3{
    margin-bottom: 0px;
  }
  a span{
    margin-right: 10px;
  }

  .container { 
    min-width: 940px !important; 
    max-width: none;
  }

  .navbar{
    z-index: 99;
  }
  .navbar-non-responsive{
    min-width: 1040px  !important;
  }
  .card-header {
    border-left: 1px solid ;
    border-top: 1px solid ;
    border-right: 1px solid ;
    border-color: rgb(222, 226, 230);
  }
  
  #slyk_name_link:hover{ 
    text-decoration-color:  white; 
  }
  @import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
  h1 {
    font-family: 'Saira', sans-serif !important;
    font-weight: 700!important;
  }

  h2,h3,h4,h5,h6{
    font-family: 'Saira', sans-serif !important;
    font-weight: 500!important;
  }

  button, .btn{
    font-family: 'Saira', sans-serif !important;
    font-weight: 500!important;
  }
  .collapsed-btns a{
    width: fit-content;
    height: fit-content;
  }
  .collapsed-btns{
    align-items: center;
  }
  