html,
body {
  width: 100%;
  padding-top: 0px;
  height: 100%;
}


  /* .navbar{
    background-color: darkorchid;
  } */
  .navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height:auto;
    text-align: right;
    margin-top: 0px;
  }

  

  .navbar a[type="button"]{
    margin-left:10px;
  }
  .navbar h3{
    align-self: center;
    color: white;
  }

 