
{% extends './base.html' %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/dataTables.bootstrap5.min.css')}}" />


<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap5.min.js')}}"></script>



<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/welcome.css')}}" rel="stylesheet">
{% block Dcss %}

{% endblock Dcss %}

{% endblock css %}


{% block content %}

<!-- SIDEBAR -->
 
<!-- END SIDEBAR -->

    <main>
      <div class="container-fluid">
        <div class="row">

          {% with messages = get_flashed_messages(category_filter=["error"])  %}
                {%if messages%}
                </br>
                {%for message in messages %}
                <div class="alert alert-primary alert-dismissible text-center" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%endfor%}
                {%endif%}
                {% endwith %}
                {% with smessages = get_flashed_messages(category_filter=["success"]) %}
                {% if smessages %}
                {%for message in smessages %}
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%endfor%}
                {% endif %}
                {% endwith %}
      </div>
    {% block Dcontent %}
    <div class="container text-center img-container">
      <a id='slykhublogo-container' href="{{url_for('help.help')}}" class="btn btn-outline-primary slykhub-btn">
    <img id="slykhublogo" class="text-center slykhublogo" src="{{url_for('static', filename='img/slykhublogo.svg')}}" alt="">
  </a>  
  </div>
    <div class="container text-center home-menu">
    <div class="text-center">
      <a type="button" class="btn btn-outline-primary btn-square-xl" href="{{url_for('dashboard.users')}}" data-mdb-ripple-color="dark">
        <h3 class="fw-bold"><span class="bi bi-people"></span>Users</h3><br>
        <p>Check on your users growth and detailed information!</p>
      </a>
      <a type="button" class="btn btn-outline-primary btn-square-xl" href="{{url_for('dashboard.sales')}}" data-mdb-ripple-color="dark">
        <h3 class="fw-bold"><span class="bi bi-cart-check"></span>Sales</h3><br>
        <p>Check on your sales activity, payment methods, top Slyk buyers and more!</p>
      </a>
      <a type="button" class="btn btn-outline-primary btn-square-xl" href="{{url_for('dashboard.tasks')}}" data-mdb-ripple-color="dark">
        <h3 class="fw-bold"><span class="bi bi-table"></span>Tasks</h3><br>
        <p>Manually complete tasks for multiple users with one click!</p>
      </a>
    </div>
    </div>
  

    <script src="{{url_for('static', filename='js/welcome.js')}}"></script>
    {% endblock Dcontent %}
    </div>
  </main>

{% endblock %}