
{% extends './base.html' %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/dataTables.bootstrap5.min.css')}}" />


<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap5.min.js')}}"></script>



<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% block Dcss %}

{% endblock Dcss %}

{% endblock css %}


{% block content %}

<!-- SIDEBAR -->
 
<!-- END SIDEBAR -->

    <main>
      <div class="container-fluid">
        <div class="row">

          {% with messages = get_flashed_messages(category_filter=["error"])  %}
                {%if messages%}
                </br>
                {%for message in messages %}
                <div class="alert alert-primary alert-dismissible text-center" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%endfor%}
                {%endif%}
                {% endwith %}
                {% with smessages = get_flashed_messages(category_filter=["success"]) %}
                {% if smessages %}
                {%for message in smessages %}
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%endfor%}
                {% endif %}
                {% endwith %}
      </div>
    {% block Dcontent %}
    <h1>Under Construction</h1>
    {% endblock Dcontent %}
    </div>
  </main>

{% endblock %}