{% extends 'dashboard/home.html' %}

{% block title %}Sales{% endblock title %}
{% block Dcss %}

<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/sales.css')}}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock Dcss %}

{% block Dcontent%}
<div class="row py-2 text-justify">
    <div class="card container"  id="TotalOrdersInTimeCard">
        <div class="card-header bg-primary text-white text-center">
            <div class="row text-center">
            <h3>Fulfilled Orders by Date</h3>
            <div class = "text-center">
            <a class="btn btn-outline-white dropdown-toggle text-white" id ="timelapsebtn" data-bs-toggle="dropdown" href="#TotalOrdersInTimeCard">
                {{timelapses[1]}}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="timelapsedropdown">
                  {% for lapse in timelapses%}
                          <li><a class="dropdown-item" href="#TotalOrdersInTimeCard">{{lapse}}</a></li>
                      {% endfor %}
              </ul>
              <input type="hidden" id="selected_timelapse" value="{{timelapses[1]}}" />
            </div>
            </div>
        </div>

        <div class="card-body container" id="TotalOrdersInTime">
            
            <canvas id="TotalOrdersInTimeChart" class="chart-container" width></canvas>
            <script>
                const TOBD = document.getElementById('TotalOrdersInTimeChart');

                var TOBDchart = new Chart(TOBD, {
                    type: 'line',
                    data: {
                    labels: {{date_list_two_weeks_ago |tojson}},
                    datasets: {{orders_by_date_2weeks_dataset | tojson}}
                    },
                    options: {
                            responsive:true,
                            scales: {
                                y: {
                                  beginAtZero: true
                                }
                            }
                    }
                });
            </script>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap container">
        <div class="card"  id="OrdersByPriceCard">
            <div class="card-header bg-primary text-white">
                <div class="row w-100 text-center">
                <h3>Orders by Price</h3>
                <div class = "text-center">
                    <a class="btn btn-outline-white dropdown-toggle text-white" id ="assetbtn" data-bs-toggle="dropdown" href="#OrdersByPriceCard">
                      {{assets[0]}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="assetdropdown">
                        {% for asset in assets %}
                            <li><a class="dropdown-item" href="#OrdersByPriceCard">{{asset}}</a></li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" id="selected_asset" value="{{assets[0]}}" />
                </div>
                </div>
            </div>
    
            <div class="card-body d-flex justify-content-center" id="OrdersByPriceCardBody">
                
                <canvas id="OrdersByPriceChart" class="chart-container"></canvas>
                <script>
                    const OPC = document.getElementById('OrdersByPriceChart');
                    var sa = document.getElementById('selected_asset').value;
                    console.log(sa);
                    var assetindex = {{assets|tojson}}.indexOf(sa)
                    console.log(assetindex);
                    var labels = {{orders_prices|tojson}}[assetindex];
                    OPC_chart = new Chart(OPC, {
                        type: 'line',
                        data: {
                        labels: labels,
                        datasets:  {{orders_prices_data |tojson}}
                        },
                        options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            },
                            responsive:true
                          }
                          
                    });
                    $("#assetdropdown li a").click(function(){
  
                        $("#assetbtn").html($(this).text()+' <span class="caret"></span>');
                      
                        $("input[id='selected_asset']").val($(this).text());

                        console.log('refresh chart');

                        sa = document.getElementById('selected_asset').value;
                        console.log(sa);
                        assetindex = {{assets|tojson}}.indexOf(sa)
                        console.log(assetindex);
                        labels = {{orders_prices|tojson}}[assetindex];
                        OPC_chart.data.labels= labels;
                        OPC_chart.update();
                      });
                    
                </script>
            </div>
        </div>
    <div class="col-md-4 text-right">
    <div class="card"  id="PaymentMethodsCard">
        <div class="card-header bg-primary text-white">
            <h3> Payment Methods</h3>
        </div>

        <div class="card-body" id="PaymentMethodsCardBody">
            <canvas id="PaymentMethodsChart" class="chart-container"></canvas>
            <script>
                const PMC = document.getElementById('PaymentMethodsChart');

                new Chart(PMC, {
                    type: 'doughnut',
                    data: {
                    labels: {{payment_methods |tojson}},
                    datasets: {{payment_methods_data | tojson}}
                    },
                    options: {
                            responsive:true
                    }
                });
            </script>
        </div>
    </div>
</div>

    </div>
</div>
    <div class="d-flex justify-content-center flex-wrap container">
    <div class="card" id='topBuyersFrequencyCard'>
        <div class="card-header  bg-primary">
            <h3 class="text-white">Top buyers by completed orders</h3>
        </div>
    <div class="card-body">   
        <table class="table" id="topBuyersFrequencyTable">
            <thead>
              <tr>
                {% for header in  top_buyers_labels[:-1]%}
                    <th>{{header}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in  top_buyers_by_frequency[:10]%}
                <tr>
                {% for cell in  row %}
                <td>{{cell}}</td>
                {% endfor %}
                </tr>
              {% endfor %}  
            </tbody>
          </table>
        </div>
        </div>
        <div class="card" id='topBuyersAmountCard'>
            <div class="card-header  bg-primary">
                <h3 class="text-white">Top buyers by funds spent</h3>
            </div>
        <div class="card-body">   
            <table class="table" id="topBuyersAmountTable">
                <thead>
                  <tr>
                    {% for header in  top_buyers_labels%}
                        <th>{{header}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in  top_buyers_by_amount[:10]%}
                    <tr>
                    {% for cell in  row %}
                    <td>{{cell}}</td>
                    {% endfor %}
                    </tr>
                  {% endfor %}  
                </tbody>
              </table>
            </div>
            </div>
    </div>
<script type="text/javascript" src="{{url_for('static', filename='js/sales/dropdown.js')}}"></script>
<script type="text/javascript">
    $("#timelapsedropdown li a").click(function(){
  
        $("#timelapsebtn").html($(this).text()+' <span class="caret"></span>');
      
        $("input[id='selected_timelapse']").val($(this).text());

        console.log('refresh charts');
        tl = document.getElementById('selected_timelapse').value;
        switch(tl) {
            case 'Last week':
           
            TOBDchart.data.datasets = {{orders_by_date_1week_dataset | tojson}}


            TOBDchart.data.labels= {{date_list_one_week_ago |tojson}};
            TOBDchart.update();
              break;

            case 'Last 2 weeks':
            TOBDchart.data.datasets = {{orders_by_date_2weeks_dataset | tojson}}

            
            TOBDchart.data.labels= {{date_list_two_weeks_ago |tojson}};
            TOBDchart.update();
              break;

            case 'Last month':
            TOBDchart.data.datasets = {{orders_by_date_1month_dataset | tojson}}


            TOBDchart.data.labels= {{date_list_one_month_ago |tojson}};
            TOBDchart.update();
                break;

            case 'Last 3 months':
            TOBDchart.data.datasets = {{orders_by_date_3months_dataset | tojson}}


            TOBDchart.data.labels= {{date_list_three_months_ago |tojson}};
            TOBDchart.update();
                break;

            case 'Last 6 months':
            TOBDchart.data.datasets = {{orders_by_date_6months_dataset | tojson}}


            TOBDchart.data.labels= {{date_list_six_months_ago |tojson}};
            TOBDchart.update();
                break;

            case 'Last year':
            TOBDchart.data.datasets = {{orders_by_date_1year_dataset | tojson}}


            TOBDchart.data.labels= {{date_list_year_ago |tojson}};
            TOBDchart.update();
                break;

            case 'All':
            TOBDchart.data.datasets = {{orders_by_date_complete_dataset | tojson}}


            TOBDchart.data.labels= {{date_list_complete |tojson}};
            TOBDchart.update();
                break;

            default:
            TOBDchart.data.datasets = {{orders_by_date_2weeks_dataset | tojson}}

            
            TOBDchart.data.labels= {{date_list_two_weeks_ago |tojson}};
            TOBDchart.update();
          }
      });
</script>
{% endblock Dcontent %}
