{% extends 'dashboard/home.html' %}

{% block title %}Sales{% endblock title %}
{% block Dcss %}

<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/sales.css')}}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock Dcss %}

{% block Dcontent%}
<div class="row py-2 text-justify">
        <div class="card"  id="OrdersByPriceCard">
            <div class="card-header bg-primary text-white">
                <div class="row w-100 text-center">
                <h3>Orders by Price</h3>
                <div class = "text-center">
                    <a class="btn btn-outline-white dropdown-toggle text-white" id ="assetbtn" data-bs-toggle="dropdown" href="#">
                      {{assets[0]}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for asset in assets %}
                            <li><a class="dropdown-item" href="#">{{asset}}</a></li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" id="selected_asset" value="{{assets[0]}}" />
                </div>
                </div>
            </div>
    
            <div class="card-body" id="OrdersByPriceCardBody">
                
                <canvas id="OrdersByPriceChart" class="chart-container"></canvas>
                <script>
                    const OPC = document.getElementById('OrdersByPriceChart');
                    var sa = document.getElementById('selected_asset').value;
                    console.log(sa);
                    var assetindex = {{assets|tojson}}.indexOf(sa)
                    console.log(assetindex);
                    var labels = {{orders_prices|tojson}}[assetindex];
                    OPC_chart = new Chart(OPC, {
                        type: 'line',
                        data: {
                        labels: labels,
                        datasets:  {{orders_prices_data |tojson}}
                        },
                        options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            },
                            responsive:true
                          }
                          
                    });
                    $(".dropdown-menu li a").click(function(){
  
                        $("#assetbtn").html($(this).text()+' <span class="caret"></span>');
                      
                        $("input[id='selected_asset']").val($(this).text());

                        console.log('refresh chart');

                        sa = document.getElementById('selected_asset').value;
                        console.log(sa);
                        assetindex = {{assets|tojson}}.indexOf(sa)
                        console.log(assetindex);
                        labels = {{orders_prices|tojson}}[assetindex];
                        OPC_chart.data.labels= labels;
                        OPC_chart.update();
                      });
                    
                </script>
            </div>
        </div>
    <div class="col-md-4 text-right">
    <div class="card"  id="PaymentMethodsCard">
        <div class="card-header bg-primary text-white">
            <h3> Payment Methods</h3>
        </div>

        <div class="card-body" id="PaymentMethodsCardBody">
            <canvas id="PaymentMethodsChart" class="chart-container"></canvas>
            <script>
                const PMC = document.getElementById('PaymentMethodsChart');

                new Chart(PMC, {
                    type: 'doughnut',
                    data: {
                    labels: {{payment_methods |tojson}},
                    datasets: {{payment_methods_data | tojson}}
                    },
                    options: {
                            responsive:true
                    }
                });
            </script>
        </div>
    </div>
    </div>

    
    

    </div>
<script type="text/javascript" src="{{url_for('static', filename='js/sales/dropdown.js')}}"></script>
{% endblock Dcontent %}