{% extends 'dashboard/home.html' %}

{% block title %}User View{% endblock title %}
{% block Dcss %}

<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard/user_view.css')}}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock Dcss %}

{% block Dcontent%}
<h1>{{username}}</h1>
<p>Date joined: {{date_joined}}</p>
<p>Email: {{user_email}}</p>
<p>Phone: {{user_phone}}</p>
<p>Blocked: {% if user_blocked %}YES{%else%}NO{% endif %} </p>
<p>Balance: {%for data in user_balance['data']%}{{data['assetCode']}}: {{ data['amount']}}</br>{% endfor %}</p>

            <h3 class='text-center'>Orders &#38; Products</h3>
            <table class="table" id="ProductTable">
                <thead>
                  <tr>
                    {% for header in  product_table_headers%}
                        <th>{{header}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in  product_table_data%}
                    <tr>
                    {% for cell in  row %}
                    <td>{{cell}}</td>
                    {% endfor %}
                    </tr>
                  {% endfor %}  
                </tbody>
              </table>
              <canvas id="OrdersInTimeChart" class="chart-container"></canvas>
              <script>
                  const OBD = document.getElementById('OrdersInTimeChart');
  
                  var OBDchart = new Chart(OBD, {
                      type: 'bar',
                      data: {
                      labels: {{date_list_complete |tojson}},
                      datasets: {{orders_by_date_complete_dataset | tojson}}
                      },
                      options: {
                              responsive:true,
                              scales: {
                                  y: {
                                    beginAtZero: true
                                  }
                              }
                      }
                  });
              </script>
<h3 class='text-center'>Completed Tasks</h3>
<table class="table" id="completedTasksTable">
    <thead>
      <tr>
        {% for header in  tasks_table_headers%}
            <th>{{header}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in  tasks_completed_by_user%}
        <tr>
        {% for cell in  row %}
        <td>{{cell}}</td>
        {% endfor %}
        </tr>
      {% endfor %}  
    </tbody>
  </table>
{% endblock Dcontent %}