<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
       -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
       <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">
       <link rel="shortcut icon" href="{{url_for('static', filename='img/slyklogo.ico')}}" type="image/x-icon">
        {% block css %}
        {% endblock css %}

    </head>
    </head>
    <body>
      {% block user_log %}
      <nav class="navbar bg-primary">
        <div class="container-fluid">
        <div class="d-flex">
        </div>
        <div class="d-flex">
        {% if g.user %}
          <h3>{{ g.user['username'] }}</h3>
          <a type="button" class="btn btn-dark" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
        <a type="button" class="btn btn-light" href="{{ url_for('auth.login') }}">Log in</a>
        <a type="button" class="btn btn-light" href = "{{ url_for('auth.sign_up') }}">Sign Up</a>
        {% endif %}
        </div>
      </div>
    </nav>
        {% endblock user_log %}
        {% block content%}
        
        {% endblock content %}
        <!--<script src="{{url_for('static', filename='js/bundle.js')}}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

          <footer>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>&copy; Powered by <a href='https://Slyk.io'>Slyk.io</a>.</p>
            </div>
        </footer>
    </body>
</html>