{% extends 'dashboard/home.html' %}



{% block title %}Help{% endblock %}

{% block Dcss %}
<link href="{{url_for('static', filename='css/help.css')}}" rel="stylesheet">
{% endblock Dcss %}


{% block Dcontent %}

<div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}" id="slykhubGuide">
    <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
        <div class="img-container text-center">
            <img class="text-center" src="{{url_for('static', filename='img/slykhublogo.svg')}}" alt=""></div>
        </div>
         <p class="fs-5">Slykhub is a web-based platform that provides business owners registered in Slyk with comprehensive statistical data related to their customers. This includes daily user growth and total number of registered users, as well as daily sales and best buyers.<br><br> 
            It also offers a multi-task completion feature to help users stay organized and informed, while providing detailed information and activity tracking for all users registered in their Slyk.<br><br> 
            Our mission is to provide Slyk owners with actionable insights that enable them to make strategic decisions in order to increase their profits. With Slykhub, users can easily track the performance of their Slyk so they can make necessary adjustments quickly and accurately.</p>
    </div>
    <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
          <h2 class="fw-medium">Slykhub features</h1>
            <p class="fs-5">Through the top menu you can access all the features of Slykhub. Our site makes multiple calls to the Slyk API so it's normal for it to take a while.</p>
        <div class ="png-container col-md-5 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub menu example.png')}}" alt=""></div>
    </div>
    <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
        <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
         <h3 class="fw-medium">Datatables</h2>
        <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub datatable example.png')}}" alt=""></div>
        <p class="fs-5">Browsing in Slykhub you will find several tables with a similar format. These are called Datatables and present the following features pointed out in the image above:
        </p><ol class="fs-5">
            <li>Number of rows to be displayed.</li>
            <li>Dynamic searchbox.</li>
            <li>Column sorting (ascendent and descendent) indicated by highlighted arrows next the header.</li>
            <li>Pagination and navigation.</li>
        </ol>
    </div>
        <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
             <h3 class="fw-medium"> User Datatable</h2>
            <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub user datatable example.png')}}" alt=""></div>
            <p class="fs-5">The user datatable is a special datatable whose rows can be accessed to obtain additional information such as bought dproducts, completed tasks and orders purchased.<br>
            It also allows the export of all the table data to a csv file.</p>
        </div>
        <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
             <h3 class="fw-medium">Task Datatable and task completition</h2>
            <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub tasks datatable example.png')}}" alt=""></div>
            <p class="fs-5">The task datatable allows the selection of a task among all enabled tasks in the Slyk as well as multi-selection of users through checkboxes for the completion of the selected task.<br>
                The "Select All" header will check or uncheck all checkboxes in the current page of the datatable.<br>
                When the "Complete Task" button is clicked, the task will be completed for all selected users who have not already completed it. The number of successful completions will be flashed at the top of the table.</p>
        </div>
    </div>
    <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
         <h3 class="fw-medium">Charts</h2>
        <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub line charts example.png')}}" alt=""></div>
        <p class="fs-5">Charts in slykhub are interactive. The selection in the dropdown menu will change the displayed data.<br>
            In the same way, hovering over any graph will display additional information and clicking on the displayed data sets will skip them.</p>
        <div class ="png-container col-md-5 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub pie charts example.png')}}" alt=""></div>
    </div>

</div>
<hr class="my-5{%if g.user%} container{%endif%}" id="apiKeyGuide">
<div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}" >
    <div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
      <h2 class="fw-medium">Why do I need an API key to use Slykhub?</h1>
     <p class="fs-5">The API key is necessary to access and use the features available through Slykhub. It helps us securely identify who you are and verify that only you have access to your data. Without an API key, it will be impossible for your account to connect with your Slyk Startup.</p>
</div>
<div class="container-fluid help-text-wrapper{%if g.user%} container{%endif%}">
     <h3 class="fw-medium">Steps to get an API key:</h2>
    <ul id='APikeySteps'>
        <li><div>
             <h3 class="fw-medium">1. Go to Settings in your Slyk dashboard.</h2>
            <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub api key instructions 1.png')}}" alt=""></div>
        </div></li>
        <li><div>
             <h3 class="fw-medium">2. Click API key.</h2>
            <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub api key instructions 2.png')}}" alt=""></div>
        </div></li>
        <li><div>
             <h3 class="fw-medium">3. Create a new API key.</h2>
            <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub api key instructions 3.png')}}" alt=""></div>
        </div></li>
        <li><div>
             <h3 class="fw-medium">4. Copy the new API key.</h2>
             <p class="fs-5">(It is important to store a copy of the API key somewhere safe)</p>
            <div class ="png-container col-md-8 align-items-center text-center"><img class="mb-4 " src="{{url_for('static', filename='img/Slykhub api key instructions 4.png')}}" alt=""></div>
             <p class="fs-5">And you're ready to use Slykhub!<br>With your API key you'll be able to access all our Startup management tools.</p>
            </div></li>
        </ul>
    </div>
</div>
{% endblock Dcontent%}