{% extends 'dashboard/home.html' %}

{% block title %}Welcome{% endblock title %}
{% block css %}
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/index.js')}}"  type="text/javascript"></script>
{% endblock css %}


{% block content %}
    <!-- Main content -->
    <div class="container" style="padding:0px;">

        <div class="text-center main-header">
          <div class="overlay"></div>
          <div class="text-center inside-header">
            <h1 class="fw-bold ">Welcome to  Slykhub!</h1>
            <p class="fw-semibold  lead">
               Slykhub provides insightful statistics and charts to help you grow your  Slyk.<br> Sign up right now for free!
            </p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('auth.sign_up') }}" role="button">Get started &raquo;</a></p>
          </div>
        </div>
  
        <div class="row my-5">
          <div class="col-md-6">
            <div class ="img-feature"><img src="{{ url_for('static', filename='img/analitics.png') }}" alt="Statistics" class="my-3  img-thumbnail"></div>
            <h2 class=" ">Advanced Reporting & Analytics</h2>
            <p class=" ">
               Slykhub takes it one step further with advanced reporting and analytics which give you even more insight into your  Slyk stats. Dive deeper into your business performance and adjust strategies to help support your Slyk growth.
            </p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-md-4 slide-left">
            <div class ="img-feature"><img src="{{ url_for('static', filename='img/user_growth.png') }}" alt="User Growth" class="my-3  img-thumbnail"></div>
            <h2 class=" ">User Growth</h2>
            <p class=" ">
              Keep track of your  Slyk growth with  Slykhub! Our daily reports help you monitor user growth and total users registered to ensure you stay on top of the competition.
            </p>
          </div>
          <div class="col-md-4 slide-right">
            <div class ="img-feature"><img src="{{ url_for('static', filename='img/sales.png') }}" alt="Sales" class="my-3  img-thumbnail"></div>
            <h2 class=" ">Sales</h2>
            <p class=" ">
              Our daily reports on sales and best buyers provide you with an overview of your  Slyk's performance. Use this information to make informed decisions to grow your Slyk.
            </p>
          </div>
        </div>
  
        
  
        <div class="row my-5">
          <div class="col-md-4 slide-left">
            <div class ="img-feature"><img src="{{ url_for('static', filename='img/multi_task.png') }}" alt="Multi-task" class="my-3  img-thumbnail"></div>
            <h2 class=" ">Multi-Task</h2>
            <p class=" ">
               Slykhub is designed to make managing your Slyk simpler. Our multi-task completion function allows you to complete a tasks for multiple users at the same time--leaving you more time to focus on what matters most.
            </p>
          </div>
          <div class="col-md-4 slide-right">
            <div class ="img-feature"><img src="{{ url_for('static', filename='img/user_focus.png') }}" alt="People" class="my-3  img-thumbnail"></div>
            <h2 class=" ">User focus</h2>
            <p class=" ">
              Experience more insight into customer behavior with  Slykhub. Our platform provides detailed information 
              and activity logs of all users registered which allows you to make informed buying 
              and selling decisions that boost your business growth.
            </p>
          </div>
        </div>
        
      </div>
{% endblock content %}

