{% extends './base.html' %}

{% block title %}Login{% endblock title %}
 
{% block css %}<link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">{% endblock css %}
{% block content %}
<div class="form-signin w-100 m-auto">
    <div class="text-center">
    <form  method='POST'>
        <img class="mb-4" src="{{url_for('static', filename='img/slykhublogo.svg')}}" alt="">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        {% with messages = get_flashed_messages(category_filter=["error"])  %}
        {%if messages%}
        </br>
        {%for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endfor%}
        {%endif%}
        {% endwith %}
        {% with smessages = get_flashed_messages(category_filter=["success"]) %}
        {% if smessages %}
        {%for message in smessages %}
        <div class="alert alert-success alert-dismissible" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endfor%}
        {% endif %}
        {% endwith %}
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="john123" name="username" autofocus>
            <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
            </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        <div class="d-flex flex-column login-info">
        <p>Don't have an account yet? <a href="{{url_for('auth.sign_up')}}">Sign Up</a></p>
        <p>Forgot password? <a href="{{url_for('auth.recover')}}">Click here</a></p>
        </div>
    </form>
    </div>   
</div>
{% endblock content %}